<li class="item">
	<button ng-show="showEditButton" type="button" class="edit edit-property btn btn-default btn-xs" ng-click="edit = !edit"><span class="glyphicon glyphicon-pencil"></span></button>
	<strong>{{model.name}}: </strong>
	<span ng-show="!edit">{{model.value}}</span>
	<input class="property-edit" ng-show="edit" ng-if="!model.options" type="text" ng-model="model.value" />
	<select class="property-edit" ng-show="edit" ng-if="model.options" ng-model="model.value">
		<option ng-repeat="option in model.options">{{option}}</option>
	</select>
</li>