<h1>Issue Dashboard</h1>
<hr/>
<div class="row">
	<div class="col-md-4">
		<it-bar-chart data="dataPoints"></it-bar-chart>
		<input ng-repeat="value in dataPoints" ng-model="value" type="text">
	</div>
	<div class="col-md-4">
		<it-bar-chart data="[5, 8, 53, 16, 23, 42]"></it-bar-chart>
	</div>
	<div class="col-md-4">
		<it-bar-chart data="[10, 8, 15, 203, 23, 42]"></it-bar-chart>
	</div>
</div>
<hr/>
<h2>Current Open Issues</h2>
<table class="table table-striped centered-header">
	<thead>
		<tr>
			<th>Issue name</th>
			<th>Opened By</th>
			<th>Assignee</th>
			<th>Date Opened</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="thing in awesomeThings | filter:isOpen">
			<td><a href="#/issues/{{thing.id}}">{{thing.name}}</a></td>
			<td>{{thing.openedBy}}</td>
			<td>{{thing.assignee}}</td>
			<td>{{thing.opened | date}}</td>
		</tr>
		<tr ng-if="(awesomeThings | filter:isOpen).length == 0">
			<td style="text-align: center; font-weight: bold;" colspan="4">No issues, yay!</td>
		</tr>
	</tbody>
</table>
