table.centered-header th {
	text-align: center;
}

table.centered-header td {
	margin-left: .25em;
}

.issue-detail-container {
	background-color: #fefefe;
}

.issue-detail-container hr {
	border-color: #D5D5D5;
}

.issue-header {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding-left: 45px;
	height: 75px;
	color: #333;
}

.detail-well {
	padding: 15px;
}

.detail-well hr {
	margin-top: 0;
}

ul.detail-list li {
	margin: 5px;
	list-style-type: none;
}

ul.detail-list li strong {
	display: inline-block;
	width: 150px;
	margin-right: 15px;
}

div.markdown-editable {
	position: relative;
}

div.markdown-editable textarea {
	width: 100%;
	height: 125px;
}

sp-markdown {
	position: relative;
	display: block;
}

sp-markdown button.edit {
	position: absolute;
}

.issue-header h3 {
	font-weight: bold;
	margin: 0;
}

.main {
	padding: 0;
	overflow: hidden;
}