<div class="issue-detail-container">
	<div class="row">
		<div class="col-sm-12 col-md-12 issue-header">
			<h5>Application Name</h5>
			<h3>{{issue.name}}</h3>
		</div>
		<div class="col-sm-7 col-md-7">
			<div class="detail-well">
				<h4>Details</h4>
				<hr />
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<h5>Problem</h5>
						<hr />
						<ul class="detail-list">
							<li class="item">
								<strong>Type: </strong>
								Defect
							</li>
							<li class="item">
								<strong>Status: </strong>
								<span class="label label-success">RESOLVED</span>
							</li>
							<li class="item">
								<strong>Priority: </strong>
								Minor
							</li>
							<property-edit model="resolution"></property-edit>
							<property-edit model="propertyTry"></property-edit>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6">
						<h5>Dates</h5>
						<hr />
						<ul class="detail-list">
							<li class="item">
								<strong>Created: </strong>
								<span>{{now | date}}</span>
							</li>
							<li class="item">
								<strong>Updated: </strong>
								<span>{{now | date}}</span>
							</li>
							<li class="item">
								<strong>Resolved: </strong>
								<span>{{now | date}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<h5>Application</h5>
						<hr />
						<ul class="detail-list">
							<li class="item">
								<strong>Environment: </strong>
								Production
							</li>
							<li class="item">
								<strong>Components: </strong>
								Acquisition
							</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6">
						<h5>People</h5>
						<hr />
						<ul class="detail-list">
							<li class="item">
								<strong>Assignee: </strong>
								<span>Joshua Anderson</span>
							</li>
							<li class="item">
								<strong>Opened By: </strong>
								<span>Neal Short</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="detail-well">
				<sp-markdown data="markdownText"></sp-markdown>
			</div>
			<div class="detail-well">
				<h4>Attachments</h4>
				<hr />
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>Filename</th>
									<th>Size</th>
									<th>Upload Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="3">Nothing to show!</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="detail-well">
				<h4>Activity</h4>
				<hr />
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="tabset-container">
							<tabset>
								<tab heading="All">
									Give all the content!
								</tab>
								<tab heading="Comments">
								</tab>
								<tab heading="Activity">
								</tab>
							</tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>